# Node.js
node_modules/

# Next.js build output
.next/

# Environment variables
.env.local
.env.development.local
.env.test.local
.env.production.local
.env
# Log files
*.log
logs/

# Dependency directories
.jest/

# IDE - VSCode
.vscode
*.sw*

# Operating System Files
.DS_Store
Thumbs.db

# Dist directory
dist/

# Cache Files
.cache/

# Debug log from npm
npm-debug.log*
