@tailwind base;


@layer base {
  html {
    font-family: "comfortaa", Courier, monospace;
  }
}

h1 {
    font-weight: 600;
    font-size: xx-large;
    font-family: 'comfortaa', Courier, monospace;
}



@tailwind components;
  
  .btn-solid {
    @apply inline-flex items-center 
    justify-center rounded-md px-3.5 py-2.5
    text-sm font-semibold focus:outline-none 
    focus-visible:outline-2 focus-visible:outline-offset-2;
  }
  .btn-outline {
    @apply inline-flex ring-1 items-center justify-center 
    rounded-md  text-sm focus:outline-none px-3.5 py-2.5
    ring-green-600
  }

  .btn-white {
    @apply bg-white text-slate-900 hover:bg-blue-50
     active:bg-blue-200 active:text-slate-600 focus-visible:outline-white;
  }
  .btn-blue {
    @apply bg-blue-600 text-white hover:text-slate-100 
     hover:bg-blue-500 active:bg-blue-800 active:text-blue-100 
     focus-visible:outline-blue-600;        
  }

  .btn-slate {
    @apply bg-green-900 text-white hover:bg-green-800 
    hover:text-slate-100 active:bg-slate-800 active:text-slate-300 
    focus-visible:outline-slate-900
  }

  .btn-outline-slate {
    @apply ring-slate-200 text-slate-700 hover:text-slate-900 
    hover:ring-slate-300 active:bg-slate-100 active:text-slate-600 
    focus-visible:outline-blue-600 focus-visible:ring-slate-300;
  }

  .btn-outline-white {
    @apply ring-slate-700 text-white hover:ring-slate-500
     active:ring-slate-700 active:text-slate-400 focus-visible:outline-white;
  }

 
  
@tailwind utilities;